<div class='container px-5 px-sm-0'>
  <div class="col-md-8 mx-auto">

    <p><%= @room_num %>番部屋</p>
    <p>ようこそ<%= current_user.name %>さん</p>
    <p class="mb-5">ここでは<%= @master.name %>さんと自由にお話が出来ます。</p>

    <div id="chat_list">
      <% if @chats %>
        <%= render 'chat_list', chats: @chats %>
      <% end %>
    </div>

    <div id="chat_form" class="form mt-5">
      <%= render 'chat_form', new_chat: @new_chat %>
    </div>

  </div>
</div>
